  body
  {
    color: rgb(117, 21, 234);
    background: palegreen;
  }
  .heading
  {
    width: 80%;
    font-size: 22px;
  }
  #camera 
  {
    border: 2px dashed black;
    width: 350px;
    height: 300px; 
  }
  .name_of_objects, #result_object_name  , #result_object_accuracy
  {
    color: rgb(40, 116, 106);
  }
